
<div class="form-group">
  <label class="control-label col-sm-2" for="MName">Movie Name:</label>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="MName" value="{{Mname}}"  disabled/>
  </div>

</div>
<br>
<br>
<div class="form-group">
  <label class="control-label col-sm-2" for="Rating">Rating:</label>
  <div class="col-sm-6">
    <select class="form-control" id="Rating" [(ngModel)]="Review_Data.Rate" title="Your rating..">
      <option value="0">Your Rating</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
</div>
<br>
<br>
<div class="form-group">
  <label class="control-label col-sm-2" for="MovieComment">Comment:</label>
  <div class="col-sm-6">
    <textarea type="text" class="form-control" id="MovieComment" [(ngModel)]="Review_Data.Comment"></textarea>
  </div>
</div>
<span class="color btn glyphicon glyphicon-thumbs-up" (click)="countIncrement()" >Like</span>
<span class="color-unlike btn glyphicon glyphicon-thumbs-down" (click)="countDecrement()">UnLike</span>
<br>
<br>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-primary" (click)="submitMoviereview()">Submit</button>
  </div>
</div>




