<form class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="email" [(ngModel)]="Restaurent.Email" [ngModelOptions]="{standalone: true}" placeholder="Enter email or Name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="FoodType">FoodType:</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="FoodType" [(ngModel)]="Restaurent.FoodType" [ngModelOptions]="{standalone: true}" placeholder="Enter Food Name">
    </div>
  </div>
  <div class="form-group">

      <label class="control-label col-sm-2" for="userreview">Review:</label>
      <div class="col-sm-6">
        <textarea  class="form-control" id="userreview" [(ngModel)]="Restaurent.Feedback" [ngModelOptions]="{standalone: true}" placeholder="Write your review"></textarea>
      </div>

  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" (click)="submitreview()">Submit</button>
    </div>
  </div>
</form>
